<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	 
	 <debug/>     
	<!-- For Web security -->
  	<beans:bean id="myAccessDeniedHandler" class="com.gx181.security.MyAccessDeniedHandler">
		<beans:property name="accessDeniedUrl" value="/403.jsp"></beans:property>  
	</beans:bean>
    	
    <http use-expressions="true" auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint">
    	<intercept-url pattern="/index.jsp" access="permitAll"/>
		<intercept-url pattern="/js/**"  access="permitAll"/>  
	  	<intercept-url pattern="/images/**" access="permitAll"/>
	  	<intercept-url pattern="/css/**" access="permitAll"/>
	  	<intercept-url pattern="/styles/**" access="permitAll"/>
  		<intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />  
        <csrf/> 
    	<intercept-url pattern="/**" access="isAuthenticated()" />
        <remember-me />
       <!--  <expression-handler ref="webSecurityExpressionHandler"/> -->
        <custom-filter ref="loginFilter"  position="FORM_LOGIN_FILTER" />
        <logout logout-url="/j_spring_security_logout" logout-success-url="/a.jsp" delete-cookies="JSESSIONID"/>
        <access-denied-handler ref="myAccessDeniedHandler"/>
         
    </http>
  	<!-- 未登录的切入点 -->  
   
    <beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
	    <beans:constructor-arg value="/index.jsp"/>
	</beans:bean>
    
    
    <!-- 登录体系loginFilter -->
    <beans:bean id="loginFilter"
        class="com.gx181.security.AdminUsernamePasswordAuthenticationFilter">
        <beans:property name="filterProcessesUrl" value="/j_spring_security_check"></beans:property>
        <beans:property name="authenticationSuccessHandler" ref="myAuthenticationSuccessHandler"></beans:property>
        <beans:property name="authenticationFailureHandler" ref="myAuthenticationFailureHandler"></beans:property>
        <beans:property name="authenticationManager" ref="authenticationManager"></beans:property>
    </beans:bean>
    
    <!-- 验证失败显示页面 -->
    <beans:bean id="myAuthenticationFailureHandler"
        class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/c.jsp?error=true" />
    </beans:bean>
<!-- 验证成功默认显示页面  -->
    <beans:bean id="myAuthenticationSuccessHandler"
        class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <beans:property name="alwaysUseDefaultTargetUrl" value="true" />
        <!--此处可以请求登录首页的action地址  -->
        <beans:property name="defaultTargetUrl" value="/admin/main" />
    </beans:bean>
    
<!-- authentication体系 -->
    <authentication-manager alias="authenticationManager" erase-credentials="false">
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>
    <beans:bean id="authenticationProvider"
        class="com.gx181.security.AdminAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService" />
    </beans:bean>
    
     <beans:bean id="adminServiceImpl"
        class="com.gx181.service.AdminService">
    </beans:bean>
    
    <beans:bean id="userDetailsService"
        class="com.gx181.security.AdminUserDetailsService">
        <beans:property name="adminService" ref="adminServiceImpl"></beans:property>
    </beans:bean>
</beans:beans>  